@{
    ViewData["Title"] = "Survey";
}

@model Survey
<form method="post" asp-action="ProcessSurvey" asp-controller="Home">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Birthday"></label>
        <input asp-for="Birthday" type="datetime-local">
        <span asp-validation-for="Birthday"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DojoLocation">Dojo Location</label>
        <select asp-for="DojoLocation">
            <option value="San Jose">San Jose</option>
            <option value="Santiago">Santiago</option>
        </select>
        <span asp-validation-for="DojoLocation"></span>
    </div>
    <div class="mb-3">
        <label for="FavoriteLanguage">Favorite Language</label>
        <select name="FavoriteLanguage" id="FavoriteLanguage">
            <option value="C#">C#</option>
            <option value="Javascript">Javascript</option>
            <option value="Python">Python</option>
        </select>
        <span asp-validation-for="FavoriteLanguage"></span>
    </div>
    <div class="mb-3">
        <label for="Comment" class="form-label">Comment (Optional)</label>
        <textarea class="form-control w-auto" name="Comment" cols="50" rows="5" ></textarea>
        <span asp-validation-for="Comment"></span>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>
