<h1>Sumbbited Info</h1>
@model Survey
<div class="col-8">
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item  flex-fill">Name:</li>
        <li class="list-group-item flex-fill">@Model.Name</li>
    </ul>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item flex-fill">Dojo Location:</li>
        <li class="list-group-item flex-fill">@Model.DojoLocation</li>
    </ul>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item flex-fill">Favorite Language:</li>
        <li class="list-group-item flex-fill">@Model.FavoriteLanguage</li>
    </ul>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item flex-fill">Comment:</li>
        <li class="list-group-item flex-fill">@Model.Comment</li>
    </ul>
</div>
